*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mybox {
  padding: 20px;
  margin: 20px auto;
  border: 1px solid ;
  border-radius: 10px;
          
}
.d1{
  padding: 20px;
  margin: 20px auto;
  border: 1px solid ;
  border-radius: 10px;
  background-color: beige;
}
#products{
  display: flex;
  flex-wrap: wrap;
}
#products  li{
  width: 200px;
  border: 1px solid rgb(216, 212, 212);
  margin:10px;
  list-style: none;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
#products li img{
  width: 100%;
}
#products li:hover .bi-trash{
  display: none;
}  
#products li:hover .bi-trash{
  display: block;
  color: red;
  background-color: red;
  width: fit-content;
  border-radius: 50%;
  color: white;
  padding: 5px;
  position:absolute;
  top: -5px;
  right: -5px;
}
#products li:hover .bi-pencil-square{
  display: none;
}  
#products li:hover .bi-pencil-square{
  display: block;
  color: rgb(68, 0, 255);
  background-color: rgb(0, 4, 255);
  width: fit-content;
  border-radius: 50%;
  color: white;
  padding: 5px;
  position:absolute;
  top: 25px;
  right: -5px;
}